.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 100px;

  @media (min-width: 750px) {
    padding-top: 0;
    height: 100vh;
  }
}
.logo-container {
  margin-bottom: 35px;
}
.form {
  width: 90%;
  max-width: 400px;
  padding: 50px 20px 30px;
  background-color: #ffffff;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.25);
  border-radius: 5px;
  position: relative;

  .loader-wrapper {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 300;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    place-items: center;
    &.hide {
      display: none;
    }
  }

  &.check-email {
    h2 a {
      display: block;
      font-size: 0.85rem;
      color: $color-primary;
      padding: 10px;
      margin-top: 5px;
      transition: .3s;
      &:hover {
        background-color: lighten($color-primary, 35);
      }
    }
    .code-box {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      input {
        width: 50px;
        padding: 15px 0;
        font-size: 1rem;
        text-align: center;
        border: 2px solid #cccccc;
        transition: .3s;

        &:focus {
          border-color: $color-primary;
        }
      }
    }
  }

  &-title {
    text-align: center;
    margin-bottom: 25px;
  }

  &.signup {
    margin-bottom: 50px;
    max-width: 500px;

    .names {
      @media (min-width: 750px) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        grid-column-gap: 15px;
      }
      .field:last-child {
        margin-bottom: 15px;
      }
    }
  }
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 30px;
  }

  label {
    font-size: 0.85rem;
    margin-left: 5px;
    margin-bottom: 2px;
  }
}

.text-field {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: .3s;
  font-size: 1rem;

  &:focus {
    border: 2px solid $color-primary;
  }

  &.error, &.error:focus {
    border: 2px solid red;

  }

}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;

  a {
    padding: 15px;
    color: $color-primary;
    transition: all .3s;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
  border-radius: 4px;
    &:hover {
      background-color: lighten($color-primary, 35);
    }
  }
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
  margin-left: 5px;
}