@import "assets/sass/reset";
@import "assets/sass/variables";
@import "assets/sass/form";
@import "assets/sass/button";

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.logo {
  font-family: 'Anton', sans-serif;
  span {
    font-family: 'Anton', sans-serif;
    color: $color-primary;
  }
}

.alert {
  padding: 20px 15px;
  color: #ffffff;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;

  &.danger {
    background-color: #EF5350;
  }
  &.success {
    background-color: #43A047;
  }
}