/** Variables */
// Colors
$color-primary: #3D5AFE;
$color-accent: #018786;
$color-hover: darken($color-primary, 10%);
$dark-color-1: #121212;
$dark-color-2: #1f2022;
$dark-color-3: #222629;
$grey-color: #818181;