/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** Variables */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  border: 1px solid red;
}

.form {
  max-width: 450px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 12px 25px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 1.3rem;
  transition: all 0.3s;
  letter-spacing: 1.5px;
  box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.75);
  color: #000000;
}

.btn.small {
  padding: 8px 25px;
}

.btn-primary {
  background: rgba(3, 218, 198, 0.5);
}

.btn-primary:hover {
  background: #03dac6;
}

.btn i {
  margin-right: 10px;
}

.btn:disabled {
  cursor: not-allowed;
  background: #aaabac;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #eeffee;
}

.logo {
  font-family: "Anton", sans-serif;
}

