{% extends 'layout.html' %}
{% block body %}
    <div class="container section book-section">
        <div class="book">
            {% include 'book-card.html' %}
        </div>
        <form id="review" class="add-review">
            <h2 class="form-title"></h2>
            <div class="field">
                <label for="comment">Comment:</label>
                <textarea name="comment" placeholder="Your comment" class="text-field"></textarea>
            </div>
            <div class="rating">
                <label>Rating</label>
                {% include "rating-scale.html" %}
            </div>
            <span class="success-message hide">Reviews successful store</span>
            <button class="btn btn-primary btn-fit-content">
                Submit
            </button>
        </form>
        <div class="reviews">
            <h3>Goodreads Review Data</h3>
            {% include "rating-card.html" %}
        </div>
        <div class="comments">
            <h2>Comments</h2>
            {% if book.comment %}
                <div class="comment">
                    <p>{{ book.comment }}</p>
                    <p class="created-at">On: {{ book.created_at }}</p>
                    <div class="scale">
                        {% set averageRating = book.rating|int %}
                        {% set doNotCheck = 5 - averageRating %}
                        {% for i in range(averageRating) %}
                            <span aria-valuetext="{{ i }}" class="fa fa-star rating checked"></span>
                        {% endfor %}
                        {% for y in range(doNotCheck) %}
                            <span aria-valuetext="{{ y }}" class="fa fa-star rating"></span>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}