{% extends "layout.html" %}
{% block body %}
    <div class="container home">
        <div class="search-zone">
            <p class="hint">Search by book title, author name or ISBN.</p>
            <div class="search-bar">
                <input name="search" type="text" class="search" />
                <button class="search-btn">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
        <div id="result">
            <h1>Result</h1>
            <h2 class="not-found hide">No result</h2>
            <p class="result-count"></p>
            <div class="result-items">

            </div>
        </div>
    </div>
{% endblock %}