<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books Reviews</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Anton|Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/10dac8eb5a.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include "navbar.html" %}

    {% block body %}
    {% endblock %}

    {% include "footer.html" %}

    <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>