{% extends "layout.html" %}
{% block body %}
    <div class="container book-list">
        <div id="library">
            <input type="hidden" name="next_page" value="?page=2">
            <h1 class="lib-title">Library</h1>
            <p class="lib-description">We have {{ data.row_count }} books stored in our database,
                scroll down to load more and click on one book to view or add reviews.
            </p>
            <div class="grid">
                {% for book in data.result %}
                    {% include "book-card.html" %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}